{% extends 'base.html.twig' %}

{% block title %}Article
	{{article.title}}
{% endblock %}

{% block body %}
	<div class="flex p-3">
		<img src="{{ asset(article.imageUrl) }}"/>
		<table class='ml-3'>
			<tr>
				<th>Title</th>
				<td>{{article.title}}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{article.description}}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{article.date}}</td>
			</tr>
		</table>
	</div>
{% endblock %}
