{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Homepage{% endblock %}

{% block body %}
	<h1>Welcome in {{title|title}} !</h1>
	<br>
	<p>There are {{articles|length}} article(s) !</p>
	<table>
	  <thead>
	   <tr>
	     <th>Title</th>
		 <th>Description</th>
		 <th>Date</th>
	   </tr>
	  </thead>
	  <tbody>
		{% for article in articles %}
		  <tr>
			<td>
			<a href="{{ path('app_article_show',{id: article.id})}}">{{article.title}}</a>
			</td>
			<td>{{article.description}}</td>
			<td>{{article.date}}</td>
		  </tr>	
		{% endfor %}
	  <tbody>
	</table>
{% endblock %}
