{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Homepage{% endblock %}

{% block body %}
	<h1>Welcome in {{title|title}} !</h1>
	<br>
	<p>There are {{survivors|length}} survivor(s) !</p>
	<table>
	  <thead>
	   <tr>
	     <th>Name</th>
		 <th>Age</th>
	   </tr>
	  </thead>
	  <tbody>
		{% for survivor in survivors %}
		  <tr>
			<td>
			<a href="{{ path('app_survivor_show',{id: survivor.id})}}">{{survivor.name}}</a>
			</td>
			<td>{{survivor.age}}</td>
		  </tr>	
		{% endfor %}
	  <tbody>
	</table>
{% endblock %}
